#cssmenu ul {
  list-style-type: none;
  width: auto;
  position: relative;
  display: block;
  height: 33px;
  font-size: 12px;
  background: url(../img/bg.png) repeat-x top left;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  border: 1px solid #000;
  margin: 0;
  padding: 0;
}
#cssmenu li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
#cssmenu li a {
  float: left;
  color: #A79787;
  text-decoration: none;
  height: 24px;
  padding: 9px 15px 0;
  font-weight: normal;
}
#cssmenu li a:hover,
#cssmenu .active {
  color: #fff;
  background: url(../img/bg.png) repeat-x top left;
  text-decoration: none;
}
#cssmenu .active a {
  color: #fff;
  font-weight: 700;
}
#cssmenu ul {
  background-color: #DC4900;
}
#cssmenu li a:hover,
#cssmenu li.active {
  background-color: #F46D00;
}
.enlaces{
	display: block;
	margin:5px;
}
.lista{
	margin:15px;
	float: left;
}
.lista ul{
	margin: 0 auto;
	padding: 0;
}

.lista li, .enlaces{
	text-align: center;
}
#pie{
	clear:both;
}
.form-signin {
  max-width: 400px;

  margin: 0 auto;
}
.mod{
	background: red;
}
.boton{
	width:198px;
}
